.tag-senha{
    border: var(--border-01);
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgb(167, 167, 167)   ;

}
.tag-senha div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tag-senha p{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag-senha div:nth-child(1) p{
    padding: 2%;
    color: white;
}
.ultimo{
    width: 80% !important;
    border: 1px solid rgb(180, 180, 180);
    div:nth-child(1) p{
        padding: 3%;
    }
}
.animate-tag-senha{
    animation: headShake 1s linear, xxxx 1s linear;
    transition: 0.5s;
}


@keyframes xxxx {
    0%{ background: #fff; color: black}
    50%{background: var(--color-primaria-01); color: white;}
    100%{ background: #fff; color: black}
}
