.main-home-page{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-home-page .section{
    display: flex;
    height: auto;
    gap: 2rem;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.section .column-1{
    width: 100%;
    max-width: 1010px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section .column-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-1 .bloco{
    height: 62px;
    background: #55BBFA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.section-1 .column-1 #bloco-colunm-1{
    font-size: 1.2rem;
}
.section-1 .column-2 #bloco-colunm-2{
    width: 314px;
    font-size: 1rem;
}
.section-1 .column-2 .box-ultimas-senhas{
    height: 357px;
    border: var(--border-01);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: white;

}
.section-1 .column-2 .box-ultimas-senhas .box-content-ultimas-sehas{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.3rem;
    margin-top: 2%;

}
.section-2{
    
}
.section-2 .column-2 {
    width: 314px;
}


