.row {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
    border: var(--border-01);
    padding: 1%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    background: white;
    min-height: 40px;
}
.row-paciente:hover{
    background: rgba(231, 231, 231, 0.178);
}
.row .tag-tipo-senha-01{
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    max-width: 50px;
}

.row .c1 {
    flex: 1
}
.row .c2 {
    flex: 0.35
}
.row .c3 {
    flex: 1.5
}
.row .c4 {
    flex: 1
}
.row .c5{
    flex: 1;
}   
.row .c6 {
    flex: 1.7
}
.row .c7 {
    flex: 1.3
}
.row .estado-style{
    border: 1px solid #EAEAEA;
    padding: 1% 4%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}
.row .estado-style i{
    font-size: 0.5rem;
}