@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
:root{
    --gradient-color-01: linear-gradient(to right, #55BBFA, #7CCDFF, #55BBFA);

    --border-01: 1px solid #EAEAEA;

    --color-SP: #E53935;
    --color-SG: #7CB342;
    --color-SE: #FB8C00;

    --color-primaria-01: #55BBFA;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #F5F5F5;
}
#root{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}   

.sp{
    background-color: var(--color-SP) !important;
}
.sg{
    background-color: var(--color-SG) !important;
}
.se{
    background-color: var(--color-SE) !important;
}